@import 'tailwindcss';

@theme {
  --color-primary: #DD013F;
  --color-secondary: #081430;
  --color-dark-blue-60: ##081430;
  --color-gray: #D3D3D3;

}

h1 {
  @apply font-normal leading-[58px] tracking-[0px];
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Marcellus", serif;
}
h2 {
  @apply font-semibold leading-[29px] tracking-[0px] bg-primary text-white px-[16px] py-[9px];
  text-transform: uppercase;
  font-size: 24px;
}
h3 {
  @apply font-semibold leading-[20px] tracking-[0px] mb-[4px];
  text-transform: uppercase;
  font-size: 18px;
}
body {
  @apply leading-[20px] tracking-[0px] mx-[50px] xl:max-w-[1080px] xl:mx-auto pt-10 text-secondary;
  font-size: 18px;
  font-family: "Montserrat", serif;
}
button {
  @apply leading-[16px] tracking-[0.4px] bg-primary text-white; 
  padding-block: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding-inline: 8px;
}
button.button-wide {
  padding-inline: 30px;
}
button.button-cancel {
  @apply bg-white text-primary border-primary border-2;
  padding-block: 8px;
}
input {
  @apply border-gray border-1;
  height: 36px;
  width: 100%;
}
